.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: none;
    color: var(--khaki);
    position: absolute;
    width: 100%;
    z-index: 100;
    box-shadow: 03 -3 10px 0 rgba(0, 0, 0, 0.1);
    transition: 0.2s;
  }

.scrolled {
    transition: 0.2s;
    padding: 1.5rem 4rem;
    background-color: var(--umber);
    position: fixed;
    box-shadow: 0 0px 7px -2px black;
}
  
.ul {
    list-style: none;
    display: flex;
    gap: 2rem;
  }
  
.a {
    color: var(--peach);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
}

.a:hover {
  color: var(--peach-light);
  transition-duration: 0.2s;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.mobile, .mobileul {
  display: none;
}

@media (width < 1250px) { 
  .nav {
    z-index: 5;
    display: none;
  }

  .mobile {
    display: block;
  }

  .header {
    padding: 1.5rem 6rem;
    background-color: var(--umber);
  }
  
  .scrolled {
    position: absolute;
  }

  .mobileul {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-100%);
    z-index: 10;
    width: 222px;
    background-color: rgb(69, 53, 52);
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 0.4rem; */
    box-shadow: 4px 4px 4px 0 rgba(255, 255, 255, 0.1);
    transition: 0.5s;
  }

  .show {
    top: 78px;
    transform: translate(0);
    transition: 0.5s;
  }

  .li {
    padding: 0.5rem 0rem;
    text-align: center;
  }

  .a {
    color: var(--peach);
    font-weight: 700;
    font-size: 1.5rem;
  }

  .a:hover {
    color: var(--peach-light)
  }
}

@media (width < 904px) {
  .header {
    position: sticky;
  }
}

@media (width < 490px) {
  .header {
    padding: 1.5rem 2rem;
  }
}