.hidden {
    opacity: 0;
}

.show {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.color {
    color: #3b5943;
    fill: #3b5943;
    font-weight: 700;
    font-size: 2rem;
    text-shadow: #3b5943 1px 1px 1px;
}

.icons {
    font-size: 5rem;
}

@media (width < 840px) {
    .ebony {
        font-size: 1.5rem;
    }

    .icons {
        font-size: 3rem;
    }
}

@media (width < 720px) {
    
}