.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background: none;
    color: white;
    position: absolute;
    width: 100%;
    z-index: 1;
    box-shadow: 03 -3 10px 0 rgba(0, 0, 0, 0.1);
    transition: 0.2s;
  }

.scrolled {
    transition: 0.2s;
    padding: 1.5rem 4rem;
    background-color: rgba(51, 51, 51, 0.98);
    position: fixed;
}
  
.ul {
    list-style: none ;
    display: flex;
    gap: 2rem;
  }
  
.a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
}

.a:hover {
  color:rgb(154, 228, 228);
  transition-duration: 0.2s;
}

.mobile {
  display: none;
}

@media (max-width: 768px) { 
  .nav {
    display: none;
  }

  .mobile {
    display: block;
  }

  .header {
    padding: 1rem 3rem;
    background-color: #333;
    z-index: 2;
  }
  
  .scrolled {
    position: absolute;
  }

  .mobileul {
    position: absolute;
    z-index: 1;
    top: -5rem;
    width: 100%;
    padding: 0 1.5rem;
    background-color: rgb(190, 190, 190);
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 0.4rem; */
    box-shadow: 4px 4px 4px 0 rgba(255, 255, 255, 0.1);
    transition: 0.2s;
  }

  .show {
    top: 3.85rem;
    transition: 0.2s;
  }

  .li {
    width: 100%;
    padding: 0.2rem 0rem;
    border-top: #333 solid 0.05rem;
    text-align: center;
  }

  .a {
    color: rgb(49, 49, 49);
    font-weight: 700;
    font-size: 1.5rem;
  }
}
