.carouselWrapper {
    scroll-snap-align: center;
    scroll-snap-stop: normal;
    scroll-margin-top: 76.8px;
    background-color: var(--peach-light);
}

.text {
    opacity: 0;
    overflow: scroll;
}

.show {
    opacity: 0;
    transform: translateX(-100%);
    animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.hide {
    opacity: 0.8;
    animation: fadeOut 0.5s ease-out forwards;
}

@keyframes fadeOut {
    to {
        transform: translateX(100%);
    }
}

.branchLink {
    border-opacity: 0;
    background-color: var(--peach);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    font-weight: 600;
    margin-top: 1rem;
}

.branchLink:hover {
    color: black;
    background-color: var(--peach-dark);
    transition-duration: 0.2s;
}

@media (width < 1000px) {
    .carouselWrapper {
        scroll-snap-align: unset;
        height: 30rem;
    }
}

@media (width < 850px) {
    .carouselWrapper {
        flex-direction: column;
        align-items: center;
        height: 41rem;
    }

    .imageWrapper {
        width: 90%;
    }

    .textWrapper {
        margin-top: 1rem;
        flex: auto;
        width: 100%;
    }
}

@media (width < 750px) {
    .carouselWrapper {
        height: 37rem;
    }
}

@media (width < 600px) {
    .carouselWrapper {
        height: 32rem;
    }
}

@media (width < 480px) {
    .carouselWrapper {
        height: 28rem;
    }
}