@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

:root {
  --peach: rgb(226, 207, 191);
  --peach-dark: hsl(27, 38%, 62%);
  --peach-light: hsl(27, 38%, 92%);
  --khaki: hsla(26, 28%, 67%, 1);
  --beaver: hsla(29, 21%, 58%, 1);
  --umber: hsla(24, 14%, 38%, 1);
  --beaver-2: hsla(30, 14%, 47%, 1);
  --rose-ebony: hsla(4, 20%, 29%, 1);
  --olive: #b6d3b6;
  --olive-mid: #d3ecd3ff;
  --olive-light: hsl(120, 25%, 89%);
  --olive-dark: hsl(102, 61%, 29%);
  --olive-dark-darker: hsl(102, 61%, 14%);
  --light-green: hsl(120, 40%, 88%);
  --pine-green: #3b5943;
  --green-white: #e9f2eb;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  max-width: 100%;
  position: relative;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  /* overflow-x: hidden; */
  color: #1f3527;
  font-family: "Libre Baskerville", serif;
}
