.imageContainer {
  position: relative;
  height: 100svh;
  background-color: var(--peach-light);
  box-shadow: 1px 1px 7px 4px rgba(180, 180, 180, 0.459);
  overflow: hidden;
}

.statSection {
  margin-left: -160px;
}

.shadow {
  box-shadow: 1px 1px 7px -2px black;
}