
.statSection {
  margin-left: -160px;
}

.shadow {
  box-shadow: 1px 1px 7px -2px black;
}

@media (width < 720px) {
  .statSection {
    margin-left: 0;
    display: flex;
    flex-direction: column;
  }
}