.footer {
    display: flex;
    align-items: center;
    padding: 1.5rem 8%;
    background-color: var(--olive);
    color: var(--olive-dark-darker);
    position: absolute;
    width: 100%;
    z-index: 100;
    box-shadow: 0 0px 7px -2px black;
    
  }

.mediaColors {
    color: var(--pine-green);
    fill: var(--pine-green);
    text-decoration: none;
    transition-duration: 0.2s;
}

.mediaColorsHover {
    color: #3b5943;
    fill: #448354;
    transition-duration: 0.2s;
}

.motto {
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: auto;
    color: var(--pine-green);
}